@import "@/custom-theme.less";

#chat-list {
  height: 100%;
  .logo-img {
    // width: 64px;
    height: 64px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 16px;
    margin-top: 70px;
  }
  .logo-demo {
    margin: 50px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .chat-demo-bar {
    width: 250px;
    // line-height: 36px;
    font-size: 14px;
    padding-left: 100px;
    border-radius: 3px;
    color: @font-color-1;
    margin: 16px;
    padding: 9px 12px;
    background-color: @primary-color-13;

    cursor: pointer;
    &:hover {
      background-color: @primary-color-11;
    }
  }

  .chat-demo-col {
    margin: auto;
  }
  .chat-header {
    // width: 100%;
    height: 51px;
    border-bottom: 1px solid @primary-color-13;
    box-shadow: inset 0 -1px 0 0 @primary-color-13;
    display: flex;
    .chat-bar {
      width: 106px;
      height: 49px;
      align-items: center;
      justify-content: center;
      border-radius: 0;
      display: flex;
      padding: 0;
      margin: 0;
    }
  }
  .chat-content {
    height: calc(100%);
    width: 100%;
    display: flex;
    .chat-l {
      width: 300px;
      height: 100%;
      border-right: 1px solid @primary-color-13;
      box-shadow: inset 0 0 0 -1px @primary-color-13;
      overflow-x: hidden;
      overflow-y: auto;
      .l-cont {
        width: 270px;
        // height: 90px;
        display: flex;
        // justify-content: space-between;
        align-items: center;
        .avatar {
          // width: 25px;
          // height: 25px;
          font-size: 12px;
          margin: 0px 13px 0px 19px;
        }
        .l-title {
          display: flex;
        }
        .l-name {
          font-family: PingFangSC-Regular;
          width: 150px;
          font-size: 14px;
          color: rgba(255, 255, 255, 0.9);
          line-height: 22px;
          font-weight: 400;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          // margin-bottom: 7px;
        }
        .l-description {
          font-family: PingFangSC-Regular;
          font-size: 14px;
          color: rgba(255, 255, 255, 0.55);
          line-height: 22px;
          font-weight: 400;
        }
      }
    }
    .chat-r {
      width: calc(100% - 330px);
      display: flex;
      flex-direction: column;
      height: 100%;
      .chat-r-c {
        width: 100%;
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: auto;
        height: calc(100% - 51px);
      }
      // .chat-r-c::-webkit-scrollbar {
      //   width: 0px;
      //   opacity: 0;
      //   -webkit-overflow-scrolling: touch;
      // }
      .c-r-content {
        margin: 16px;
        width: calc(100%);
        display: flex;
      }
      .c-avatar {
        width: 35px;
        height: 35px;
        margin-right: 18px;
        padding: 5px;
        background: #fff;
      }
      .c-msg {
        font-family: PingFangSC-Regular;
        width: calc(100% - 73px);
        background: #242424;
        border: 1px solid #242424;
        border-radius: 10px;
        font-size: 14px;
        color: @font-color-1;
        font-weight: 400;
        padding: 8px;
      }
      .input-text {
        width: calc(100% - 20px);
        height: 40px;
        margin-bottom: 5px;
        background: #181818;
        border: 1px solid #4b4b4b;
        border-radius: 5px;
        margin-left: 20px;
      }
      .send-img {
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-right: 8px;
        // background-color: white;
      }
    }
  }
  .send-btn {
    position: absolute;
    right: 0px;
    bottom: 20px;
    width: 100px;
  }
  // .input-text::-webkit-scrollbar {
  //   width: 1px;
  //   opacity: 0.1;
  //   -webkit-overflow-scrolling: touch;
  // }
}
