#login {
  display: flex;
  // justify-content: center;
  align-items: center;
  // background-image: url("../../../assets/login_bg.jpg");
  // background-position: center;
  width: 100vw;
  height: 100vh;
  background-color: #080d13;

  .left {
    width: 50%;
    background: url("../../../assets/login_bg.png") 50% no-repeat;
    // background-size:
    background-position: 50% 50%;
    height: 100%;
    .left-text {
      position: relative;
      font-size: 28px;
      left: 35%;
      top: 80%;
      letter-spacing: 0;
      line-height: 38px;
      font-family: Helvetica;
      font-weight: 600;
    }
  }
  .right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    // width: 200px;
    color: white;
    font-size: 36px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 46px;
  }
  .logo-img {
    // width: 48px;
    height: 48px;
    margin-right: 10px;
    border-radius: 20px;
    padding: 5px;
    padding-top: 15px;
  }
  .login-form {
    width: 400px;
    border-radius: 10px;
    padding: 28px;
    background-color: #242424;
  }

  .login-bgimg {
    background-image: url("../../../assets/login_bg.jpg");
    background-position: center;
    width: 50%;
    height: 100%;
  }
}

.mobile-bg {
  background-image: url("../../../assets/login_bg_mobile.jpg");
  background-size: cover;
  background-position: center;
}
