// 主色调
@primary-color-1: #f3f3f3;
@primary-color-2: #eeeeee;
@primary-color-3: #e7e7e7;
@primary-color-4: #dcdcdc;
@primary-color-5: #c5c5c5;
@primary-color-6: #a6a6a6;
@primary-color-7: #8b8b8b;
@primary-color-8: #777777;
@primary-color-9: #5e5e5e;
@primary-color-10: #4b4b4b;
@primary-color-11: #383838;
@primary-color-12: #2c2c2c;
@primary-color-13: #242424;
@primary-color-14: #181818;
@primary-color-15: #0d0d0d;
@primary-color-16: #000000;

// 功能色
@brand-color-1: #ecf2fe;
@brand-color-2: #d4e3fc;
@brand-color-3: #bbd3fb;
@brand-color-4: #96bbf8;
@brand-color-5: #699ef5;
@brand-color-6: #4787f0;
@brand-color-7: #266fe8;
@brand-color-8: #0052d9;
@brand-color-9: #0034b5;
@brand-color-10: #001f97;

// 字体色

@font-color-1:rgba(255,255,244,0.9);
@font-color-2:rgba(255,255,244,0.55);
@font-color-3:rgba(255,255,244,0.35);
@font-color-4:rgba(255,255,244,0.22);
@font-color-5:rgba(255,255,244,1);
