@import "@/custom-theme.less";

#team-container {
  .edit-name {
    color: @font-color-2;
    margin-left: 8px;
    font-size: 16px;
    &:hover {
      color:  @brand-color-10;
    }
  }
  .card-box {
    min-width: 300;
    height: 100;
    margin: 8px;
    cursor: pointer;
    &:hover {
      border: 1px solid @brand-color-10;
    }
  }
}
#components-form-demo-control-ref .ant-btn {
  margin-right: 8px;
}
